In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
!apt-get update -qq 2>&1 > /dev/null
!apt-get install -y -qq software-properties-common python-software-properties module-init-tools
!add-apt-repository -y ppa:alessandro-strada/ppa 2>&1 > /dev/null
!apt-get update -qq 2>&1 > /dev/null
!apt-get -y install -qq google-drive-ocamlfuse fuse

E: Package 'python-software-properties' has no installation candidate
Selecting previously unselected package google-drive-ocamlfuse.
(Reading database ... 134448 files and directories currently installed.)
Preparing to unpack .../google-drive-ocamlfuse_0.7.18-0ubuntu1~ubuntu18.04.1_amd64.deb ...
Unpacking google-drive-ocamlfuse (0.7.18-0ubuntu1~ubuntu18.04.1) ...
Setting up google-drive-ocamlfuse (0.7.18-0ubuntu1~ubuntu18.04.1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...

In [0]:
!python -m pip install featuretools

Requirement already satisfied: featuretools in /usr/local/lib/python3.6/dist-packages (0.4.1)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.6/dist-packages (from featuretools) (0.10.0)
Requirement already satisfied: cloudpickle>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from featuretools) (1.3.0)
Requirement already satisfied: pyyaml>=3.12 in /usr/local/lib/python3.6/dist-packages (from featuretools) (3.13)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from featuretools) (1.18.2)
Requirement already satisfied: tqdm>=4.19.2 in /usr/local/lib/python3.6/dist-packages (from featuretools) (4.38.0)
Requirement already satisfied: s3fs>=0.1.2 in /usr/local/lib/python3.6/dist-packages (from featuretools) (0.4.0)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from featuretools) (0.25.3)
Requirement already satisfied: psutil>=5.4.8 in /usr/local/lib/python3.6/dist-packages (from featuretools) (5.4.8)
Requirement already satisfied: dask>=0.19.4 in /usr/local/lib/python3.6/dist-packages (from featuretools) (2.12.0)
Requirement already satisfied: distributed>=1.24.2 in /usr/local/lib/python3.6/dist-packages (from featuretools) (1.25.3)
Requirement already satisfied: future>=0.16.0 in /usr/local/lib/python3.6/dist-packages (from featuretools) (0.16.0)
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from s3fs>=0.1.2->featuretools) (0.6.2)
Requirement already satisfied: botocore>=1.12.91 in /usr/local/lib/python3.6/dist-packages (from s3fs>=0.1.2->featuretools) (1.15.23)
Requirement already satisfied: boto3>=1.9.91 in /usr/local/lib/python3.6/dist-packages (from s3fs>=0.1.2->featuretools) (1.12.23)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->featuretools) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->featuretools) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from distributed>=1.24.2->featuretools) (1.12.0)
Requirement already satisfied: tblib in /usr/local/lib/python3.6/dist-packages (from distributed>=1.24.2->featuretools) (1.6.0)
Requirement already satisfied: click>=6.6 in /usr/local/lib/python3.6/dist-packages (from distributed>=1.24.2->featuretools) (7.1.1)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.6/dist-packages (from distributed>=1.24.2->featuretools) (2.1.0)
Requirement already satisfied: tornado>=4.5.1 in /usr/local/lib/python3.6/dist-packages (from distributed>=1.24.2->featuretools) (4.5.3)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from distributed>=1.24.2->featuretools) (2.0.0)
Requirement already satisfied: msgpack in /usr/local/lib/python3.6/dist-packages (from distributed>=1.24.2->featuretools) (1.0.0)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from botocore>=1.12.91->s3fs>=0.1.2->featuretools) (0.9.5)
Requirement already satisfied: urllib3<1.26,>=1.20; python_version != "3.4" in /usr/local/lib/python3.6/dist-packages (from botocore>=1.12.91->s3fs>=0.1.2->featuretools) (1.24.3)
Requirement already satisfied: docutils<0.16,>=0.10 in /usr/local/lib/python3.6/dist-packages (from botocore>=1.12.91->s3fs>=0.1.2->featuretools) (0.15.2)
Requirement already satisfied: s3transfer<0.4.0,>=0.3.0 in /usr/local/lib/python3.6/dist-packages (from boto3>=1.9.91->s3fs>=0.1.2->featuretools) (0.3.3)
Requirement already satisfied: heapdict in /usr/local/lib/python3.6/dist-packages (from zict>=0.1.3->distributed>=1.24.2->featuretools) (1.0.1)

In [0]:
!git clone https://github.com/thongvhoang/A-Recommender-System-for-Programming-Online-Judges.git recommender-system

Cloning into 'recommender-system'...
remote: Enumerating objects: 10, done.
remote: Counting objects: 100% (10/10), done.
remote: Compressing objects: 100% (8/8), done.
remote: Total 10 (delta 0), reused 10 (delta 0), pack-reused 0
Unpacking objects: 100% (10/10), done.

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

user = pd.read_csv('recommender-system/data/user_data.csv')
problem = pd.read_csv('recommender-system/data/problem_data.csv')
submission = pd.read_csv('recommender-system/data/train_submissions.csv')

In [0]:
import featuretools as ft

In [0]:
user.head(5)

     user_id  submission_count  ...          rank  registration_time_seconds
0  user_3311                47  ...  intermediate                 1466686436
1  user_3028                63  ...  intermediate                 1441893325
2  user_2268               226  ...      beginner                 1454267603
3   user_480               611  ...      advanced                 1350720417
4   user_650               504  ...      advanced                 1395560498

[5 rows x 11 columns]

In [0]:
user.sample(5).T

                                 3268          294   ...          434         1552
user_id                     user_3506     user_3185  ...     user_2431   user_3226
submission_count                  107           171  ...           178         436
problem_solved                     77           116  ...           154         385
contribution                        0             2  ...             3         -19
country                           NaN    Kazakhstan  ...         China  Kazakhstan
follower_count                      0            50  ...            21          25
last_online_time_seconds   1501774775    1495985840  ...    1505519933  1505563367
max_rating                    305.333       383.028  ...       486.525     321.961
rating                        302.466        347.19  ...       454.702     306.193
rank                         beginner  intermediate  ...  intermediate    beginner
registration_time_seconds  1476642256    1360078434  ...    1467353092  1442393976

[11 rows x 5 columns]

In [0]:
problem.sample(5).T

                 3663       4222  ...                       2677       3915
problem_id  prob_2729  prob_5363  ...                  prob_2284  prob_6525
level_type          E          A  ...                          A          H
points            NaN        500  ...                        500        NaN
tags              NaN   geometry  ...  dp,graph matchings,greedy        NaN

[4 rows x 5 columns]

In [0]:
submission.sample(5).T

                   35748      77374      72304      19099      145537
user_id         user_2981  user_1466   user_836  user_2879  user_2855
problem_id      prob_2757   prob_133  prob_3430  prob_4835  prob_4039
attempts_range          2          1          3          2          1

In [0]:
user['country'] = user['country'].fillna('Non')

In [0]:
user['country'].value_counts()

Non                       1153
India                      619
Bangladesh                 329
Russia                     262
China                      162
                          ...
Bosnia and Herzegovina       1
France                       1
Costa Rica                   1
Iceland                      1
Trinidad and Tobago          1
Name: country, Length: 80, dtype: int64